<h1>Editar Socio</h1>

<% form_for(@socio) do |f| %>
  <%= f.error_messages %>

  <p>
    Nome: <%= f.text_field :nome %>
  </p>
  <p>
    Endereco: <%= f.text_field :endereco %>
  </p>
  <p>
    Telefone: <%= f.text_field :telefone %>
  </p>
  <p>
    <%= f.submit 'Salvar'%>
  </p>
  <%end%>
<%= link_to 'Visualizar', @socio %> |
<%= link_to 'Voltar para a tela inicial', socios_path %>
