<h1>Listar Atores</h1>

<table>
  <tr>
    <th>Atores</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ators.each do |ator| %>
  <tr>
    <td><%=h ator.nome %></td>
    <td><%= link_to 'Visualizar', ator %></td>
    <td><%= link_to 'Editar', edit_ator_path(ator) %></td>
    <td><%= link_to 'Excluir', ator, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo ator', new_ator_path %>
