<h1>Adicionar Ator</h1>

<% form_for(@ator) do |f| %>
  <div id="error"><%= f.error_messages %></div>
  <p>
    Nome: <%= f.text_field :nome %>
  </p>
  <p>
    Nacionalidade: <%= f.text_field :nacionalidade %>
  </p>
  <p>
    Data de Nascimento: <%= f.text_field :data_nascimento %>
  </p>
  <p>
    <%= f.submit 'Salvar'%>
  </p>
<% end%>

<%= link_to 'Voltar', ators_path %>
