<h1><%=h @ator.nome%></h1>
<p>Nacionalidade: <%= @ator.nacionalidade%> </p>
<p>Data de Nascimento: <%= @ator.data_nascimento%> </p>

<h2>Filmes com este ator</h2>
<%= render :partial => 'filmes/list', :locals => {:filmes => @ator.filmes} %>

<%= link_to 'Editar', edit_ator_path(@ator) %> |
<%= link_to 'Voltar', ators_path %>