<h1>Listar Diretores</h1>

<table>
  <tr>
    <th>Diretores</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @diretors.each do |diretor| %>
  <tr>
    <td><%=h diretor.nome %></td>
    <td><%= link_to 'Visualizar', diretor %></td>
    <td><%= link_to 'Editar', edit_diretor_path(diretor) %></td>
    <td><%= link_to 'Excluir', diretor, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo diretor', new_diretor_path %>
