<h1>Adicionar Filme</h1>

<% form_for(@filme) do |f| %>
  <div id="error"><%= f.error_messages %></div>
  <p>
    Título: <%= f.text_field :titulo %>
  </p>
  <p>
    Duração: <%= f.text_field :duracao %>
  </p>
  <p>
    Ano: <%= f.text_field :ano %>
  </p>
  <p>
    Diretor: <%= f.select :diretor_id, @diretores %>
  </p>
  <p>
    Gênero: <%= f.select :genero_id, @generos %>
  </p>
  <p>
    <%= f.submit 'Salvar'%>
  </p>
<% end%>

<%= link_to 'Voltar', filmes_path %>
