<h1><%=h @filme.titulo%></h1>
<p>Duração: <%= @filme.duracao%> </p>
<p>Ano: <%= @filme.ano%> </p>
<p>Diretor: <%= @filme.diretor.nome%> </p>
<p>Gênero: <%= @filme.genero.descricao%> </p>

<h2>Cópias</h2>
<table id ="list_copias">
    <tr class="head">
      <td>Código</td>
      <td>Data de Aquisição</td>
      <td>Estado</td>
      <td>Situação</td>
    </tr>
  <% for copia in @filme.copias%>
    <tr>
      <td><%= copia.id %></td>
      <td><%= copia.aquisicao %></td>
      <td><%= copia.estado %></td>
      <td><%= copia.locado ? 'Alugado' :  'Disponível'%></td>
    </tr>
  <% end %>
</table>
<div id ="new_copia"></div>
<h2>Atores</h2>
<table id ="list_atores">
  <% for ator in @filme.ators%>
    <%= render :partial => 'ators/list', :locals => {:ator => ator} %>
  <% end %>
</table>
<% remote_form_for :ator, :url => {:controller => :filmes ,:action => :new_ator, :filme_id => @filme.id} do |f|%>
  Ator: <%= f.select :ator_id, @ators %> <%= f.submit "Adicionar" %>
<% end %>
  
<div id ="new_ator"></div>
<%= link_to 'Editar', edit_filme_path(@filme) %> |
<%= link_to 'Voltar', filmes_path %>