<h1><%=h @filme.titulo%></h1>
<p>Duração: <%= @filme.duracao%> </p>
<p>Ano: <%= @filme.ano%> </p>
<p>Diretor: <%= @filme.diretor ? @filme.diretor.nome : 'Sem diretor'%> </p>
<p>Gênero: <%= @filme.genero ? @filme.genero.descricao : 'Sem gênero'%> </p>

<h2>Cópias</h2>
<table id ="list_copias">
    <tr class="head">
      <td>Código</td>
      <td>Data de Aquisição</td>
      <td>Estado</td>
      <td>Situação</td>
    </tr>
  <% for copia in @filme.copias%>
    <%= render :partial => 'list_copias', :locals => {:copia => copia} %>
  <% end %>
</table>
<% remote_form_for :copia, :url => {:controller => :filmes ,:action => :new_copia, :filme_id => @filme.id} do |f|%>
<h4>Nova cópia</h4>
  <p> Data de Aquisição: <%= f.text_field :aquisicao %></p>
  <p>Estado: <%= f.select :estado,["Bom","Ruim"] %></p>
  <p><%= f.submit "Adicionar" %></p>
<% end %>
<h2>Atores</h2>
<table id ="list_atores">
  <% for ator in @filme.ators%>
    <%= render :partial => 'ators/list', :locals => {:ator => ator} %>
  <% end %>
</table>
<% remote_form_for :ator, :url => {:controller => :filmes ,:action => :new_ator, :filme_id => @filme.id} do |f|%>
  <h4>Novo ator</h4>
  <p>Ator: <%= f.select :ator_id, @ators %></p>
  <p><%= f.submit "Adicionar" %></p>
<% end %>
  
<div id ="new_ator"></div>
<%= link_to 'Editar', edit_filme_path(@filme) %> |
<%= link_to 'Voltar', filmes_path %>