<html>
  <head>
    <title>Locadora APGSI</title>
    <%= stylesheet_link_tag "default" %>
    <%= javascript_include_tag :all %>
  
  </head>
  <body>
    <div id="wrap">

      <!--header -->
      <div id="header">
        <h1 id="logo-text"><a href="#">Locadora APGSI</a></h1>
      </div>

      <!-- content-wrap starts here -->
      <div id="content-wrap">

        <div id="sidebar">

          <h3>Devolver Filme</h3>
          <% remote_form_for :devolucao, :url => {:controller => :main, :action => :devolucao} do |f|%>
            <p>Cópia: <%= f.text_field :copia_id , :size => 6%>&nbsp;<%= f.submit "Devolver" %></p>
          <% end %>

          <h3>Menu</h3>
          <ul class="sidemenu">
            <li><%= link_to "Filmes", filmes_path%></li>
            <li><%= link_to "Sócios", socios_path%></li>
            <li><%= link_to "Atores", ators_path%></li>
            <li><%= link_to "Diretores", diretors_path%></li>
            <li><%= link_to "Gêneros", ators_path%></li>
          </ul>
        </div>

        <div id="main">
          <%= yield %>
        </div>

        <!-- content-wrap ends here -->
      </div>

      <!--footer starts here-->
      <div id="footer">

        <p>Desenvolvido por Rafael Leite de Freitas</p>

      </div>

      <!-- wrap ends here -->
    </div>
    <div id="principal">
      
    </div>
  </body>
</html>

